include ../../lib/fields/_mix-fieldText

.FormElements
	embed(src='img/vector.svg' alt='text' height="106" width="106")
	.text_body
		+fieldText('Text Field', 'text', 'email', 'Email', '16 rem')
//	p Text Field
//	input(type='text' name='email' value='Email' size='16 rem')
	