/*PerfectPixel: 8 809 */
@import '../../lib/var';
@import '../../lib/styleText';
@import '../../lib/fields/mix-fieldText';
//@import '../../lib/fonts';
.formElements{
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	background: yellow;/*$PageBackground;*/
	width: 72rem;	
	padding-left: 1.5rem;
	padding-top: 1.5rem;
}
.pageMarginBot{
	height:1.4925373134rem;
	color: #00ffff ;
}
.formElements__layout3{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	//padding-top: 1.6rem;/*141px*/
}

.formElements__layout3__column{
	display: flex; 
	flex-direction: column;
}
input[type="text"] {
	height: 2.2rem; /* высота на свое усмотрение*/
	width: 16rem; /*ширина на свое усмотрение*/
	padding-left: 0.7rem;
	color: $DarkShade25; /*цвет шрифта в обычном состоянии*/
	font-size: 0.7rem; /*Размер шрифта*/
	/*line-height: 2.2rem;*/
	font-family: Montserrat; /*Стиль шрифта*/
}
select {
	height: 2.2rem; /* высота на свое усмотрение*/
	width: 16rem; /*ширина на свое усмотрение*/
	padding-left: 0.7rem;
	color: $DarkShade25; /*цвет шрифта в обычном состоянии*/
	font-size: 0.7rem; /*Размер шрифта*/
	/*line-height: 2.2rem;*/
	font-family: Montserrat; /*Стиль шрифта*/
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;       /* удаляем стандартную стрелочку */
	background-image: url(img/vectorFieldBut1.svg);   /* добовляем произвольное изображение */
	//background-color: #c7b39b; /* Цвет фона */
}
/*Контейнер3 столбец1*/

.formElements__layout3__pad1{
	padding-left: 5.55rem;/*141px*/
	padding-top: 3.1rem;/*143px*/
}
.formElements__layout3__pad1-bott{
	padding-bottom: 0.8rem;/*227.44px-176px-18px*/
}
/*________________________________________Контейнер3 столбец1*/

/*Контейнер3 столбец2*/
.formElements__layout3__pad2{
	padding-left: 6.3rem;/*141px*/
	padding-top: 0.5rem;/*141px*/
}
/*________________________________________Контейнер3 столбец2*/

.formElements__layout3__pad3{
	padding-left: 6.3rem;/*141px*/
	padding-top: 0.5rem;/*141px*/
}
/*________________________________________Контейнер3 столбец2*/
.formElements__layout2{
	display: flex;
	flex-direction: row;
}
.formElements__layout2__column{
	display: flex; 
	flex-direction: column;
}