include ../../lib/fields/_mix-fieldText

.formElements
	//embed(src='img/vector.svg' alt='text' height="106" width="106")
	embed(src='img/vectorBase.svg' alt='text' height="48" width="48")
	.formElements__layout3
		.formElements__layout3__pad1
			.formElements__layout3__column
				+fieldsText('Text Field', 'Default')
				+fieldText('text', 'large', 'Email')
				.formElements__layout3__pad1-bott
				+fieldsText('Text Field', 'Hover/Focus')
				+fieldText('text', 'large', 'This is pretty awesome')
				.formElements__layout3__pad1-bott
				+fieldsText('dropdown', 'Default')
				+fieldTextButton('button','large-button', 'Сколько гостей')
				.formElements__layout3__pad1-bott
				+fieldsText('masked text field', 'Default')
				+fieldText('date', 'large', '')
				.formElements__layout3__pad1-bott
				.formElements__layout3__pad1-bottDate
				.formElements__layout3
					.formElements__layoutDate-padding-right
						+fieldsText('date dropdown', '')
					+fieldsText('date dropdown', '')
				.formElements__layoutDate
					+fieldTextButton('button', 'small-button', 'ДД.ММ.ГГГ')
					+fieldTextButton('button', 'small-button', '19.08.2019')
		.formElements__layout3__pad2
			.formElements__layout3__column
				p colomn2
		.formElements__layout3__pad3
			.formElements__layout3__column
			p colomn3
	.formElements__layout2
		.formElements__layout2__column
			P контейнер 2 colomn1
		.formElements__layout2__column
			P контейнер 2 colomn2