mixin checkboxButtons(chvalue1, chvalue2, chvalue3)
	fieldset
		label
			.fieldset-line
				input(type='checkbox')
				.div
					.md-mag.material-icons.md-border checkbox_marked_outline
				.md-mag.rect.opacity
				.text_body.color.line=chvalue1
					
		label
			.fieldset-line
				input(type='checkbox' checked)
				.div
					.md-mag.material-icons.md-border checkbox_marked_outline
				.md-mag.rect.opacity
				.text_body.color.line=chvalue2
			
		label
			.fieldset-line
				input(type='checkbox' checked)
				.div
					.md-mag.material-icons.md-border checkbox_marked_outline
				.md-mag.rect.opacity
				.text_body.color.line=chvalue3