/*PerfectPixel: 8 809 */
@import '../lib/var';
@import '../lib/styleText';
@import '../lib/fonts';
.FormElements{
	background: yellow;/*$PageBackground;*/
	width: 72rem;	
}
.PageMargin{
	height:1.4925373134rem;
	color: #00ffff ;
}