html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= "Hotel"
		
	body
		.margin-rightPage.layoutPage.margin-rightPage
			.PageMarginBot Color&Type
			include pages/UlKit/page0
			.PageMarginBot Form Elements
			include pages/UlKit/formElements
		.layoutPage.margin-rightPage
			p colon 2
		.layoutPage
			p colon 3
		
		//script(type='text/javascript' src='dist/app.js')