body{
	display: flex;
	background: grey;
}
.layoutPage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
}
.margin-rightPage{
	margin-right: 1.4925373134rem;
}

@import 'lib/var';
@import 'lib/fonts';
@import './pages/UlKit/page0';
@import './pages/UlKit/formElements';

@import '~jquery-ui/themes/base/all.css';
/*@import '~material-design-icons/iconfont/material-icons.css';*/
/*@import '~material-icons/iconfont/material-icons.scss';*/