mixin radioButtons(chvalue1, chvalue2)
	.fieldset-radio
		.lable-man 
			label
				.fieldset-line-radio
					input(type='radio' name='sex' id='man' checked)
					.div(id='checked')
						.woman.material-icons.md-border.icons-radio radio_button_checked
					.man.opacity.material-icons.md-border.icons-radio radio_button_unchecked
					.text_body.md-color.line=chvalue1
		label
			.fieldset-line-radio
				input(type='radio' name='sex' id='woman')
				.div(id='checked')
					.woman.material-icons.md-border.icons-radio radio_button_checked
				.man.opacity.material-icons.md-border.icons-radio radio_button_unchecked
				.text_body.md-color.line=chvalue2