mixin radioButtons(chvalue1, chvalue2)
	label
		fieldset
			.fieldset-line
				input(type='radio' name='sex' checked)
				.div(id='woman')
					.md-mag.material-icons.md-border radio_button_checked
				div(id='man')
					.opacity.material-icons.md-border radio_button_unchecked
				.text_body.md-color.line=chvalue1
			.fieldset-line
				input(type='radio' name='sex')
				.div(id='woman')
					.md-mag.material-icons.md-border radio_button_checked
				.div(id='man')
					.opacity.material-icons.md-border radio_button_unchecked
				.text_body.md-color.line=chvalue2